@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$red: #d9534f;
$blue: #cfeb22; // darken(#428bca, 6.5%);
$green: #13a27b;
$grey: #727c7d;
$shadow: #676667;
$bg: lighten(#000, 93.5%);

@import "home";
@import "play";


#container {
  margin: 40px auto;
  width: 600px;
  background-color: $bg;

  .content {
    margin: 0 auto;
  }
}

.overlay {
  z-index: 9999;
  opacity: 0.8;
  background-color: #000000;
  position: fixed; top:0px; left:0px; width:100%; height:100%; color:#FFFFFF; text-align:center; vertical-align:middle;
}

#loader {
  z-index: 10000;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: -30px;

  & > i {
    color: $blue;
    font-size: 60px;
    z-index: 10002;
  }
}

.hidden {
  visibility: hidden;
}
