#game_board {
  background-color: #738dc1;
  text-align: center;

  #moveBox {
    // position: fixed;
    width: 350px;
    height: 60px;
    background: #2e4f4d;
    margin: 5px auto;

    #chip {
      position: absolute;
      border-radius: 45px;
      background: red;
      width: 50px;
      height: 50px;
    }

    #chip2 {
      position:relative;
      border-radius: 45px;
      background: red;
      width: 50px;
      height: 50px;
    }
  }

  #boxes {
    position: relative;
    .box-col {
      display: inline-block;
    }

    .box {
      width: 50px;
      height: 50px;
      background:white;
      border-radius: 45px;
      margin: 3px;
      text-align: center;
      vertical-align: top;
    }
  }

}
